@font-face {
  font-family: 'icon'; /* Project id 3839368 */
  src:
    url('iconfont.woff2?t=1698823707413') format('woff2'),
    url('iconfont.woff?t=1698823707413') format('woff'),
    url('iconfont.ttf?t=1698823707413') format('truetype');
}

.icon {
  font-family: 'icon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-codelibrary:before {
  content: '\e798';
}

.iconfont-codelibrary-fill:before {
  content: '\e84b';
}

.iconfont-manage_fill:before {
  content: '\e70b';
}

.iconfont-manage:before {
  content: '\e70c';
}

.iconfont-about-fill:before {
  content: '\e61d';
}

.iconfont-about:before {
  content: '\e61e';
}

.iconfont-settings-fill:before {
  content: '\e840';
}

.iconfont-settings:before {
  content: '\e841';
}

.iconfont-close:before {
  content: '\e61f';
}

.iconfont-game:before {
  content: '\e6df';
}

.iconfont-danxuanfill:before {
  content: '\e71e';
}

.iconfont-danxuan:before {
  content: '\e71f';
}

.iconfont-fangxingweixuanzhong:before {
  content: '\e720';
}

.iconfont-fangxingxuanzhongfill:before {
  content: '\e721';
}

.iconfont-fangxingxuanzhong:before {
  content: '\e722';
}

.iconfont-guanbi1:before {
  content: '\e723';
}

.iconfont-guanbi2fill:before {
  content: '\e724';
}

.iconfont-guanbi2:before {
  content: '\e725';
}

.iconfont-jiahao:before {
  content: '\e726';
}

.iconfont-jiahao1:before {
  content: '\e727';
}

.iconfont-jiahao2fill:before {
  content: '\e728';
}

.iconfont-jianhao:before {
  content: '\e729';
}

.iconfont-tishifill:before {
  content: '\e72a';
}

.iconfont-tishi:before {
  content: '\e72b';
}

.iconfont-wenhaofill:before {
  content: '\e72c';
}

.iconfont-wenhao:before {
  content: '\e72d';
}

.iconfont-xuanze:before {
  content: '\e72e';
}

.iconfont-yuanxingweixuanzhong:before {
  content: '\e72f';
}

.iconfont-yuanxingxuanzhongfill:before {
  content: '\e730';
}

.iconfont-yuanxingxuanzhong:before {
  content: '\e731';
}

.iconfont-biaoxingfill:before {
  content: '\e732';
}

.iconfont-biaoxing:before {
  content: '\e733';
}

.iconfont-chexiao:before {
  content: '\e734';
}

.iconfont-dingdan:before {
  content: '\e737';
}

.iconfont-fankui:before {
  content: '\e738';
}

.iconfont-gengduo:before {
  content: '\e73a';
}

.iconfont-saoma:before {
  content: '\e749';
}

.iconfont-shaixuan:before {
  content: '\e74a';
}

.iconfont-shanchu:before {
  content: '\e74b';
}

.iconfont-shizhongfill:before {
  content: '\e74e';
}

.iconfont-shizhong:before {
  content: '\e74f';
}

.iconfont-shouyefill:before {
  content: '\e750';
}

.iconfont-shouye:before {
  content: '\e751';
}

.iconfont-sousuo:before {
  content: '\e752';
}

.iconfont-yuyan:before {
  content: '\e765';
}

.iconfont-zhengli:before {
  content: '\e766';
}

.iconfont-zuji:before {
  content: '\e767';
}

.iconfont-zuobiaofill:before {
  content: '\e768';
}

.iconfont-zuobiao:before {
  content: '\e769';
}

.iconfont-dibu:before {
  content: '\e76a';
}

.iconfont-dingbujinzhi:before {
  content: '\e76b';
}

.iconfont-dingbu:before {
  content: '\e76c';
}

.iconfont-xiangshang1:before {
  content: '\e76d';
}

.iconfont-xiangshang2:before {
  content: '\e76e';
}

.iconfont-xiangshang3:before {
  content: '\e76f';
}

.iconfont-xiangshang5:before {
  content: '\e770';
}

.iconfont-xiangxia1:before {
  content: '\e771';
}

.iconfont-xiangxia2:before {
  content: '\e772';
}

.iconfont-xiangxia3:before {
  content: '\e773';
}

.iconfont-xiangxia5:before {
  content: '\e774';
}

.iconfont-xiangyou1:before {
  content: '\e775';
}

.iconfont-xiangyou2:before {
  content: '\e776';
}

.iconfont-xiangyou3fill:before {
  content: '\e777';
}

.iconfont-xiangyou3:before {
  content: '\e778';
}

.iconfont-xiangzuo1:before {
  content: '\e779';
}

.iconfont-xiangzuo2:before {
  content: '\e77a';
}

.iconfont-xiangji1fill:before {
  content: '\e77e';
}

.iconfont-xiangji1:before {
  content: '\e77f';
}

.iconfont-jiazai:before {
  content: '\e781';
}

.iconfont-shuaxin:before {
  content: '\e782';
}

.iconfont-wifi:before {
  content: '\e783';
}

.iconfont-yonghufill:before {
  content: '\e787';
}

.iconfont-yonghu:before {
  content: '\e788';
}

.iconfont-salefill:before {
  content: '\e78a';
}

.iconfont-sale:before {
  content: '\e78b';
}

.iconfont-androidgengduo:before {
  content: '\e78d';
}

.iconfont-leimu:before {
  content: '\e78e';
}

.iconfont-bangzhuzhongxin:before {
  content: '\e78f';
}

.iconfont-caidan:before {
  content: '\e790';
}

.iconfont-zantongfill:before {
  content: '\e793';
}

.iconfont-zantong:before {
  content: '\e794';
}

.iconfont-xiangshang4:before {
  content: '\e795';
}

.iconfont-xiangxia4:before {
  content: '\e796';
}

.iconfont-dianhua:before {
  content: '\e797';
}

.iconfont-erweima:before {
  content: '\e7ad';
}

.iconfont-others:before {
  content: '\e7bc';
}

.iconfont-icon-test:before {
  content: '\e643';
}

.iconfont-cloud:before {
  content: '\e7d9';
}

.iconfont-taobao:before {
  content: '\e87c';
}

.iconfont-QQ:before {
  content: '\e882';
}

.iconfont-weibo:before {
  content: '\e883';
}

.iconfont-audio-high:before {
  content: '\e691';
}

.iconfont-wechat:before {
  content: '\e600';
}

.iconfont-tuichu-x:before {
  content: '\e622';
}

.iconfont-audio-mute:before {
  content: '\e609';
}

.iconfont-windows:before {
  content: '\e6a7';
}

.iconfont-online:before {
  content: '\e694';
}

.iconfont-offline:before {
  content: '\e695';
}

.iconfont-save:before {
  content: '\e964';
}

.iconfont-power:before {
  content: '\e667';
}

.iconfont-safari:before {
  content: '\e910';
}

.iconfont-visual-studio:before {
  content: '\e844';
}

.iconfont-alipay:before {
  content: '\e666';
}

.iconfont-audio:before {
  content: '\e601';
}

.iconfont-new-window-:before {
  content: '\e639';
}

.iconfont-mic_off:before {
  content: '\e67a';
}

.iconfont-mic_on:before {
  content: '\e67b';
}

.iconfont-send:before {
  content: '\e688';
}

.iconfont-chrome:before {
  content: '\ea09';
}

.iconfont-document:before {
  content: '\e602';
}

.iconfont-work:before {
  content: '\e603';
}

.iconfont-contact:before {
  content: '\e604';
}

.iconfont-toto:before {
  content: '\e605';
}

.iconfont-file:before {
  content: '\e606';
}

.iconfont-full-screen:before {
  content: '\e607';
}

.iconfont-vscode:before {
  content: '\e6b8';
}

.iconfont-img:before {
  content: '\e608';
}

.iconfont-shaohou:before {
  content: '\e60a';
}

.iconfont-sousuo1:before {
  content: '\e60b';
}

.iconfont-qqmusic-fill-round:before {
  content: '\e68d';
}

.iconfont-code:before {
  content: '\e6e4';
}

.iconfont-steam:before {
  content: '\e735';
}

.iconfont-epicgames:before {
  content: '\eb8a';
}

.iconfont-Edge-01:before {
  content: '\e612';
}

.iconfont-netease-cloud-music-fill:before {
  content: '\e7ae';
}

.iconfont-window-restore:before {
  content: '\e673';
}

.iconfont-window-maximize:before {
  content: '\e679';
}

.iconfont-window-minimize:before {
  content: '\e67c';
}

.iconfont-export:before {
  content: '\e60c';
}

.iconfont-window:before {
  content: '\e659';
}

.iconfont-window-minimize1:before {
  content: '\e660';
}

.iconfont-a-on-offon-fill:before {
  content: '\e9ff';
}

.iconfont-a-on-offoff-line:before {
  content: '\ea00';
}

.iconfont-a-maximize2:before {
  content: '\e629';
}

.iconfont-firefox-browser:before {
  content: '\ebfd';
}

.iconfont-outline-maximize-1:before {
  content: '\e69d';
}

.iconfont-outline-maximize-3:before {
  content: '\e69e';
}

.iconfont-logo-windows-filled:before {
  content: '\e625';
}
