@tailwind base;
@tailwind components;
@tailwind utilities;

// font
@import '@src/assets/css/fonts.scss';
@import '@src/assets/fonts/iconfont/iconfont.css';
@import '@src/assets/css/root.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  // overflow: hidden; // 禁用滚动
  font-family: var(--font-family) !important;
}

#root {
  height: 100%;
  width: 100%;
}

// 可拖拽区域
.drag-area {
  -webkit-app-region: drag;
  cursor: move;
}

* {
  // 消除所有可文本可选
  user-select: none;
  // 消除所有滚动条
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

// 阴影
.shadow-centent {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

// 禁用图片的所有鼠标事件
.pointer-events-none {
  pointer-events: none;
}

.webkit {
  &::-webkit-scrollbar {
    width: 0.4rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(95, 200, 248, 0.6);
    border-radius: 4px;

    &:hover {
      background-color: rgba(95, 200, 248, 0.8);
    }

    &:active {
      background-color: rgba(95, 200, 248, 1);
    }
  }
}

.webkit-none {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
